.logo {
    width: 100px;

}
body{
        background-image: url(My.jpg);
        background-size: cover;
        color: black
    }
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 45px;
    color: rgb(27, 192, 35);
    text-shadow: 5px 10px 6px rgb(6, 36, 11);
}